@font-face {
  font-family: 'PokemonClassic';
  font-style: normal;
  src: local('Open Sans'), url(/fonts/PokemonClassic.ttf) format('truetype');
}

:root {
  --screen-width: 60rem;
}

.screen-cover {
  padding-top: 5rem;
  position: absolute;
  z-index: 15;
  width: var(--screen-width);
}

.title {
  transform: translateY(-10rem);
  position: absolute;
  z-index: 15;
  width: calc(var(--screen-width) - 5%);
}

.start-button {
  transform: translate(10rem, 30rem);
  font-family: "PokemonClassic";
  font-weight: bold;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(to bottom, red 0%, red 50%, #000 50%, white 50%, white 100%);
  border: 1rem solid #8d1621;
  border-radius: 50%;
  z-index: 20;

  &:hover {
    background: linear-gradient(to bottom, #b20000 0%, #b20000 50%, #b2b2b2 50%, #b2b2b2 50%, #b2b2b2 100%);
  }
}

body {
  margin: 0;
}

.image-render {
  image-rendering: pixelated;
}

.battle-screen-holder {
  background-color: #cbd4dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & .battle-screen {
    display: flex;
    justify-content: center;
    width: var(--screen-width);

    & .pokeBackground {
      width: 100%;
      z-index: 0;
    }
  }
}

.poke-sprite {
  z-index: 5;
}

.poke-back {
  transform: translate(-1rem, 3.5rem);
  width: 40rem;
}

.overlay {
  z-index: 10;
}

.poke-front {
  width: 20rem;
  transform: translate(-4rem, 7rem);
}

.pokemon-bars-holder {
  position: absolute;
  width: var(--screen-width);
  height: calc(var(--screen-width) / 1.78);
  display: flex;
  flex-direction: column;
  align-items: around;

  & .field-side {
    font-family: "PokemonClassic";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .poke-name {
    text-transform: capitalize;
  }

  & .field-side.bottom {
    justify-content: right;
    height: 35%;
  }

  & .field-side.top {
    height: 65%;
  }
}

.message-board {
  width: var(--screen-width);
  display: flex;

  & .message-board-middle {
    display: flex;
    flex-direction: column;
    width: 87.89%;

    & .message-board-info {
      font-family: "PokemonClassic";
      font-weight: 500;
      font-size: xx-large;
      padding-top: 0.5rem;
      padding-left: 1.5rem;
      background-color: white;
      height: 84%;
    }
  }

  & .message-board-left {
    width: 3.91%;
  }

  & .message-board-right {
    width: 8.2%;
  }
}

.pBoard-center,
.poke-info-container {
  display: flex;
  flex-direction: column;
}

.pokemon-board {
  display: flex;

  & .pBoard-component {
    height: 6rem;
  }

  & .pBoard-center {
    background-color: #f7f7f7;

    & .poke-healthbar {
      height: 2rem;
    }

    & .main-info {
      display: flex;
      justify-content: space-between;
      height: 4.2rem;
    }

    & .poke-info-container {
      height: 4rem;
    }
  }
}

.pBoard-center .top,
.pBoard-center .bottom {
  height: 1rem;
}
